<div class="container">
    <div class="col-md-12">
        <nav class="nav">
            <a class="nav-link" href="/signin">Login</a>
            <a class="nav-link" href="/signup">Signup</a>
            <a class="nav-link" href="/scores">Highscores</a>
        </nav>
    </div>


</div>