<div class="container non-game">
    <div class="wrapper">
        <div class="col-md-12">
            <nav class="nav">
                <a class="nav-link" href="/signin">Login</a>
                <a class="nav-link" href="/signup">Signup</a>
                <a class="nav-link" href="/scores">Highscores</a>
            </nav>
        </div>

        <div class="header-container">
            <img class="header" src="/images/web-img/header_1.png">
        </div>
        
        <div class="row">
            <div class="form-scroll-container">
                <img class="scroll img-fluid" src="/images/menuScroll.png" alt="">
            </div>
        </div>

    </div>

<div class="footer ">
        <div class="container">
            <p>&copy 2017 Polly Want a Cracker the Game</p>
        </div>
    </div>
</div>