<div class="container non-game">
    <div class="wrapper">
        <div class="col-md-12">
            <nav class="nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/game">Play</a>
            </nav>
        </div>
        <div class="header-container">
            <img class="header" src="/images/web-img/header_1.png">
        </div>

        <div class="row">
            <div class="col-md-6">
                <table >
                    <thead>
                        <th>Ranking</th>
                        <th>Name</th>
                        <th>Score</th>
                    </thead>
                    <tbody>
                        {{#each data}}
                            <tr>
                            <td class="counter"></td>
                            <td>{{user.firstname}}</td>
                            <td>{{score}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            
            <div class="col-md-6">
                <table class="player" data-id={{user.id}}>
                    <thead>
                        <th>Ranking</th>
                        <th>Name</th>
                        <th>Score</th>
                    </thead>
                    <tbody id="player-score">
                        
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
<script src="/scripts/scores.js"></script>