<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<nav class="nav">
				  <a class="nav-link" href="#">Highscores</a>
				  <a class="nav-link" href="#">Login</a>
				</nav>
			</div>
		</div>
	</div>
<!--NAV END-->

<!--Jumbotron START-->
	<div class="jumbotron jumbotron-fluid" id="headImage">
	  <div class="container-fluid">
	  </div>
	</div>
<!--Jumbotron END-->

<!--Start of Form-->
<div class="container-fluid">

	<div class="row">
		<div class="col-md-7 mx-auto">
			<div class="card" id="signUp">
				<form>
				  <div class="form-group">
				    <label for="first-name">First Name</label>
				    <input type="name" class="form-control" id="first-name" placeholder="First Name" name="firstname">
				  </div>

                  <div class="form-group">
				    <label for="last-name">Last Name</label>
				    <input type="name" class="form-control" id="last-name" placeholder="last Name" name="lastname">
				  </div>

				  <div class="form-group">
				    <label for="email">Email</label>
				    <input type="email" class="form-control" id="email" placeholder="name@email.com" name="email">
				  </div>

				  <div class="form-group">
				    <label for="charSelect">Choose Your Character:</label>
				      <div class="row">
					  <div class="col-md-9">
						<button type="button" id="parrot-choose" class="btn btn-link " value="parrot1"><img src="/images/polly.gif"  class="img-responsive parrot-select" alt="parrot1" id="parrot1" ></button>
						<button type="button" id="parrot-choose" class="btn btn-link " value="parrot2"><img src="/images/pete.gif"  class="img-responsive parrot-select" alt="parrot2" id="parrot2" ></button>
						<button type="button" id="parrot-choose" class="btn btn-link " value="parrot3"><img src="/images/pauline.gif"  class="img-responsive parrot-select" alt="parrot3" id="parrot3" ></button>
						<button type="button" id="parrot-choose" class="btn btn-link " value="parrot4"><img src="/images/pirateslayer.gif"  class="img-responsive parrot-select" alt="parrot4" id="parrot4" ></button>
					  </div>
					  </div>
                    <button type="submit">Play!</button>
				</form>	
			</div>
		</div>
	</div>
</div>
<script src="/scripts/signupScript.js"></script>