<div class="container">
    <div class="wrapper">

        <div class="col-md-12">
            <nav class="nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/signup">Signup</a>
            </nav>
        </div>

        <div class="header-container">
            <img class="header" src="/images/web-img/header_1.png">
        </div>

        <!--Start of Form-->
        <div class="row">
            <div class="col-md-7 form-container">
                <div class="card" id="signUp">
                    <h2>Login</h2>
                    <form id="register-form" method="POST" action="/signin">


                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="name@email.com" name="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>


                        <button type="submit" id="submit-btn">Play!</button>
                        <small>Signup
                            <a href="/signup">here</a> if you don't have an account!</small>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer ">
        <div class="container">
            <p>&copy 2017 Polly Want a Cracker the Game</p>
        </div>
    </div>
</div>

<script src="/scripts/signupScript.js"></script>