
.container{
	background-color: black;
	background-image:url("../images/backgroundHome.gif");
	background-repeat: no-repeat;
	padding-bottom: 25%;
	

	
}

#headImage{
	background-image: url("../images/headerImg.png");
	position: relative;
	background-size: 650px;
	background-repeat: no-repeat;
	background-color: black;
	
}

#signUp {
	background-color: #FDDF87;
	/*background-image: url("../images/menuScroll.png");*/
  	position:relative;
	background-repeat: no-repeat;
	padding: 20px;

}

.parrot-select{
	width: 85px;
}


