
/* .non-game{

	background-repeat: no-repeat;
	padding-bottom: 25%;
	
} */

.wrapper{
	background-image: url("../images/web-img/homepage_bkg_new.jpg");
	background-size: 100%;
	background-repeat: no-repeat;

}

.header{
	margin-top: 40px;
	width: 70%;
	
}

#headImage{
	background-image: url("../images/headerImg.png");
	position: relative;
	background-size: 650px;
	background-repeat: no-repeat;
	background-color: black;
	
}

#signUp {
	background-color: #FDDF87;
	/*background-image: url("../images/menuScroll.png");*/
  	position:relative;
	background-repeat: no-repeat;
	padding: 20px;

}

.parrot-select{
	width: 85px;
}

