
/* .non-game{

	background-repeat: no-repeat;
	padding-bottom: 25%;
	
} */

body{
	background-color:rgb(38,152,178)
}

.wrapper{
	background-image: url("../images/web-img/homepage_bkg_new.jpg");
	background-size: 100%;
	background-repeat: no-repeat;

}

.header{
	
	width: 60%;
	
}

.header-game-page{
	width: 40%;
}

.header-container{
	margin-bottom: 20px;
}

#headImage{
	background-image: url("../images/headerImg.png");
	position: relative;
	background-size: 650px;
	background-repeat: no-repeat;
	background-color: black;
	
}

.form-container{
	margin-left: 20px;
}

#signUp {
	background-color: #B0B098;
	/*background-image: url("../images/menuScroll.png");*/
  	position:relative;
	background-repeat: no-repeat;
	padding: 20px;
	margin-bottom: 200px;

}

.parrot-select{
	width: 85px;
}


.footer{
	position: sticky;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.scroll{
	width: 375px;
    position: relative;
    margin-left: 71px;
    margin-top: 75px;

}

/* This automatically auto increments number for the scores table */
table{
	counter-reset:section;
}

.counter:before{
	counter-increment:section;
	content:counter(section);
}
.global-scores, .player-table{
	background-color: rgba(200,200,200,0.9);
}

.table-heading{
	background-color: #1E0824;
	color: #fefefe;
	padding: 10px;
}
.form-scroll-container{
	height: 500px;
	width: 100%;

	background-image: url("../images/menuScroll.png");
	background-repeat: no-repeat;
}


.menu{
	width: 800px;
	height: 600px;
	background-color: #1E0824;
	color:#fefefe;
	position: relative;
	z-index: 100; 
	font-family: 'Metal Mania', cursive;
}
.skull-img{
	height: 200px;
}

.menu-container{
	margin-top: 40px;
}
